<div class="album py-5 bd-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
          <div class="card shadow-sm">
            <%= image_tag "brooke.png", class: "bd-placeholder-img card-img-top"%>
            <div class="card-body">
                <p class="card-text"><p><%= @brooke_quote %></p></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">Brooke</small>
                </div>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= image_tag "eric.png", class: "bd-placeholder-img card-img-top"%>
          <div class="card-body">
              <p class="card-text"><p><%= @eric_quote %></p></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Eric</small>
              </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <%= image_tag "chadiamond.png", class: "bd-placeholder-img card-img-top"%>
          <div class="card-body">
              <p class="card-text"><p><%= @chadiamond_quote %></p></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">Cha'Diamond</small>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>